<div class="bg-sky h-screen main-grid">
  <div class="bg-white flex items-center justify-between p-4 md:flex-col md:py-8 md:px-0">
    <div><%= image_tag "icons/logo.svg", class: "w-12 md:w-auto" %></div>
    <div>
      <%= link_to(sign_out_path, method: :delete) do %>
        <%= image_tag "icons/logout.svg", class: "logout-icon" %>
      <% end %>
    </div>
  </div>
  <div class="content p-4 md:p-0">
    <div class="m-auto h-full pt-8" style="max-width: 500px">
      <div class="mb-8">
        <input type="text" class="w-full px-8 h-13 focus:shadow-cool" placeholder="Your link..." style="border-radius: 40px">
      </div>
      <div class="bg-white shadow-xl p-8 mb-8 rounded-xl">
        <div class="flex items-center">
          <div class="w-10 h-10 flex-shrink-0 bg-gray-200" style="border-radius: 16px">
          </div>
          <h4 class="col-span-4 mx-4 w-full">Bleach opening 1</h4>
          <div class="w-4">...</div>
        </div>
        <div class="w-full bg-gray-100 h-20 mt-4">Image</div>
      </div>
      <div class="bg-white shadow-xl p-8 mb-8 rounded-xl">
        <div class="flex items-center">
          <div class="w-10 h-10 flex-shrink-0 bg-gray-200" style="border-radius: 16px">
          </div>
          <h4 class="col-span-4 mx-4 w-full">Bleach opening 1</h4>
          <div class="w-4">...</div>
        </div>
        <div class="w-full bg-gray-100 h-20 mt-4">Image</div>
      </div>
    </div>
  </div>
  <div class="related">
    related
  </div>
</div>
