html {
  box-sizing: border-box;
}

.logout-icon {
  filter: invert(1);

  &:hover {
    filter: inherit;
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.video-overlay {
  filter: grayscale(1);
  cursor: pointer;
  transition: 0.25s ease transform;
  transform: scale(0);

  .play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.85;
    transition: opacity 0.15s ease-in 0s;
  }

  &:hover {
    filter: none;

    .play-icon {
      opacity: 1;
    }
  }
}

// animations
.rotating {
  animation: rotating 2s linear infinite;
}

@keyframes rotating {
  from{
      transform: rotate(0deg);
  }
  to{
      transform: rotate(360deg);
  }
}
